@import 'tailwindcss';

:root {
  --color-accent: #d52027;
  --color-dark: #141024;
  --color-light: #fff;
  --color-alt: #ffd369;
  --color-accent-hover: #b8181c;
  --color-dark-hover: #372e5f;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141024;
}

:root[data-theme='light'] {
  --color-accent: #ff4d4d;
  --color-accent-hover: #cc3a3a;

  --color-dark: #f0f0f0;
  --color-dark-hover: #c0c0c0;

  --color-light: #141024;
  --color-alt: #47361e;
}

:root[data-theme='dark'] {
  --color-accent: #ee262c;
  --color-dark: #141024;
  --color-light: #fff;
  --color-alt: #ffd369;
  --color-accent-hover: #b8181c;
  --color-dark-hover: #372e5f;
}
/* d52027 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-dark);
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-dark);
  overflow-x: hidden;
}

::selection {
  background: var(--color-accent);
  color: var(--color-dark);
}

ul li a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffd369;
  transition: width 0.3s ease;
  border-radius: 2px;
  pointer-events: none;
}

ul li a:hover::after,
ul li a.active::after {
  width: 100%;
}

.burger-btn span {
  will-change: transform, opacity;
  background-color: white;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-accent);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-light);
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}

.clip-diagonal-light {
  clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
}

.clip-diagonal-dark {
  clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
}

mask-image: radial-gradient(circle at center, transparent 0%, black 100%);
